<section class="page-actions">
  <div class="section-nav">
    <ul class="page-pager">
      <li>
        <a href="/" class="bttn-pager">
          <span class="fa fa-th"></span> All
        </a>
      </li>
      <li class="left align-right">
        {% if page.prev_section != null %}
        <a href="/docs/{{ page.prev_section }}" accesskey="b" class="prev bttn-pager">
          <span class="fa fa-angle-left"></span> Back
        </a>
        {% else %}
        <span class="prev disabled bttn-pager">
          <span class="fa fa-angle-left"></span> Back
        </span>
        {% endif %}
      </li>
      <li class="right align-left">
        {% if page.next_section != null %}
        <a href="/docs/{{ page.next_section }}" accesskey="n" class="next bttn-pager">
          Next 
          <span class="fa fa-angle-right"></span>
        </a> {% else %}
        <span class="next disabled bttn-pager">
          Next
          <span class="fa fa-angle-right"></span>
        </span>
        {% endif %}
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</section>

