---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
        </section>
      </article>

      {% include section_nav.html %}

    </main>

    <div class="bottom-closer">
      <div class="background-closer-image" style="background-image: url('/assets/images/background_image.jpg')">
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
      </div>
    </div>
    {% include javascripts.html %}
  </body>
</html>
